@import url("https://fonts.googleapis.com/css?family=Inter:regular,500,600,700&display=swap");

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

::-webkit-input-placeholder {
  color: inherit;
}

::-moz-placeholder {
  color: inherit;
}

:-ms-input-placeholder {
  color: inherit;
}

::-ms-input-placeholder {
  color: inherit;
}

::placeholder {
  color: inherit;
}

input,
button,
textarea,
select {
  font-family: "Inter", sans-serif;
  font-size: inherit;
  color: #1b203f;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: #1b203f;
  font-size: 1rem;
  background-color: #fff;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
  touch-action: none;
  -ms-scroll-chaining: none;
  overscroll-behavior: none;
}

[class*=__container] {
  max-width: 86.25rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

.wrapper {
  position: relative;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow: hidden;
}

.wrapper_gray {
  background: #F7F7F7;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

.header {
  padding: 0.9375rem 0;
  background-color: #fff;
}

.header_gray {
  background-color: #F7F7F7;
}

.header__logo {
  display: inline-block;
}

.header__logo img {
  max-width: 100%;
}

.hero {
  padding-bottom: 2.5rem;
}

.hero__block {
  background: url("../img/hero-image.webp") center/cover no-repeat;
  padding: 7.75rem 1.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 1.25rem;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.hero__block:not(:last-child) {
  margin-bottom: 1.25rem;
}

.hero__content {
  background: rgba(255, 255, 255, 0.5);
  padding: 1.875rem;
  width: 100%;
  max-width: 26.6875rem;
}

.hero__title {
  font-weight: 700;
  font-size: 2rem;
  color: #262e61;
}

.hero__title:not(:last-child) {
  margin-bottom: 1.25rem;
}

.hero__sub-title {
  color: #262e61;
  max-width: 12.5rem;
}

.hero__form {
  width: 100%;
  max-width: 26.6875rem;
}

.hero__box {
  margin-left: auto;
  max-width: 40.1875rem;
  width: 100%;
}

.hero__caption {
  font-weight: 700;
  font-size: 2rem;
  color: #262e61;
}

.hero__caption:not(:last-child) {
  margin-bottom: 0.9375rem;
}

.hero__text {
  color: #262e61;
}

.hero__text a {
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.hero__text p:not(:last-child) {
  margin-bottom: 1.25rem;
}

.form-hero {
  background: #000;
  padding: 1.875rem;
}

.form-hero__item {
  margin-bottom: 1.25rem;
}

.form-hero__label {
  font-size: 0.875rem;
  color: #fff;
  display: inline-block;
  cursor: pointer;
}

.form-hero__label:not(:last-child) {
  margin-bottom: 0.3125rem;
}

.form-hero__input {
  width: 100%;
  height: 2.875rem;
  padding: 0 0.625rem;
  border: 0.0625rem solid rgba(255, 255, 255, 0.05);
  border-radius: 0.25rem;
  -webkit-transition: border 0.3s;
  transition: border 0.3s;
}

.form-hero__input:focus {
  border: 0.0625rem solid rgb(0, 0, 0);
}

.form-hero__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.5rem;
}

.form-hero__links:not(:last-child) {
  margin-bottom: 1.25rem;
}

.form-hero__link {
  opacity: 0.5;
  font-size: 0.875rem;
  color: #fff;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.form-hero__buttons {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 0.625rem;
}

.form-hero__button {
  background: #fff;
  min-height: 2.6875rem;
  padding: 0.3125rem 0.625rem;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-weight: 500;
  font-size: 0.875rem;
  color: #000;
  border-radius: 0.125rem;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.form-hero__submit {
  background: #262e61;
  min-height: 2.6875rem;
  padding: 0.3125rem 0.625rem;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-weight: 500;
  font-size: 0.875rem;
  color: #fff;
  border-radius: 0.125rem;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.header-block {
  padding: 2.1875rem 0;
}

.header-block__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 1.875rem;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header-block__title {
  font-weight: 700;
  font-size: 1.5rem;
}

.header-block__title:not(:last-child) {
  margin-bottom: 0.3125rem;
}

.header-block__text {
  font-size: 0.875rem;
  opacity: 0.5;
}

.header-block__text p:not(:last-child) {
  margin-bottom: 0.625rem;
}

.header-block__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 6.25rem;
  position: relative;
}

.header-block__body_center {
  margin: 0 auto;
}

.header-block__body::after {
  content: "";
  position: absolute;
  top: 2.5rem;
  left: 0;
  width: 100%;
  height: 0.0625rem;
  background-color: rgba(0, 0, 0, 0.05);
}

.header-block__item {
  text-align: center;
  position: relative;
  z-index: 2;
  width: 5.625rem;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 5.625rem;
  flex: 0 0 5.625rem;
  background-color: #fff;
  padding: 0 0.3125rem;
}

.wrapper_gray .header-block__item {
  background-color: #F7F7F7;
}

.header-block__item:first-child {
  padding-left: 0;
}

.header-block__item:last-child {
  padding-right: 0;
}

.header-block__icon {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 0.625rem;
  width: 2.125rem;
  height: 2.125rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header-block__icon_blue {
  background: #262e61;
}

.header-block__icon_green {
  background: #0fd316;
}

.header-block__icon:not(:last-child) {
  margin-bottom: 0.75rem;
}

.header-block__caption {
  font-size: 0.875rem;
  text-align: center;
}

.agreement {
  padding-bottom: 1.875rem;
}

.agreement__block {
  background: #fff;
}

.agreement__title {
  font-weight: 500;
  font-size: 1.25rem;
  padding: 0.9375rem 1.25rem;
  border-bottom: 0.0625rem solid rgba(0, 0, 0, 0.1);
}

.agreement__text {
  padding: 1.25rem;
  font-size: 0.875rem;
  opacity: 0.75;
  height: calc(100vh - 5.625rem - 10rem - 0.625rem - 6.875rem - 3.4375rem);
  overflow: auto;
  min-height: 12.5rem;
}

.agreement__text .simplebar-track {
  background: rgba(0, 0, 0, 0.05);
  border-radius: 0.125rem;
  width: 0.125rem;
  opacity: 1;
  right: 0.5rem;
  top: 0.9375rem;
  bottom: 0.9375rem;
}

.agreement__text .simplebar-scrollbar::before {
  border-radius: 0.125rem;
  width: 0.125rem;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  left: 0;
  right: 0;
}

.agreement__text p:not(:last-child) {
  margin-bottom: 1.25rem;
}

.bottom-block {
  margin-top: auto;
  background: #fff;
  padding: 1.25rem 0;
  width: 100%;
  z-index: 10;
}

.bottom-block_gray {
  background-color: #F7F7F7;
}

.bottom-block__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 1.875rem;
}

.bottom-block__text {
  font-size: 0.875rem;
  opacity: 0.4;
}

.bottom-block__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.625rem;
}

.bottom-block__accept {
  width: 13.4375rem;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 13.4375rem;
  flex: 0 0 13.4375rem;
  background: #ff6d1e;
  border-radius: 0.125rem;
  min-height: 2.6875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  padding: 0.3125rem 0.625rem;
  font-weight: 500;
  font-size: 0.875rem;
  color: #fff;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.bottom-block__cancel {
  width: 13.4375rem;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 13.4375rem;
  flex: 0 0 13.4375rem;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 0.125rem;
  min-height: 2.6875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  padding: 0.3125rem 0.625rem;
  font-weight: 500;
  font-size: 0.875rem;
  color: #202020;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.bottom-block_gray .bottom-block__cancel {
  background-color: #fff;
}

.checkbox {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 0.75rem;
}

.checkbox:not(:last-child) {
  margin-bottom: 0.75rem;
}

.checkbox__input {
  border: 0.0625rem solid rgba(0, 0, 0, 0.2);
  border-radius: 0.25rem;
  width: 1.5rem;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 1.5rem;
  flex: 0 0 1.5rem;
  cursor: pointer;
  height: 1.5rem;
}

.checkbox__label {
  font-size: 0.875rem;
  cursor: pointer;
}

.form-set {
  padding-top: 1.5625rem;
  padding-bottom: 3rem;
}

.form-set__block {
  background: rgba(0, 0, 0, 0.03);
  padding: 1.875rem;
  max-width: 49.8125rem;
  width: 100%;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  gap: 1.875rem;
}

.form-set__row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.25rem;
}

.form-set__row_2 {
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}

.form-set__item_mt {
  margin-top: -1.25rem;
}

.form-set__label {
  display: inline-block;
  cursor: pointer;
  font-size: 0.875rem;
}

.form-set__label:not(:last-child) {
  margin-bottom: 0.3125rem;
}

.form-set__input {
  width: 100%;
  border: 0.0625rem solid rgba(0, 0, 0, 0.05);
  border-radius: 0.25rem;
  padding: 0 0.9375rem;
  width: 100%;
  height: 2.875rem;
  -webkit-transition: border 0.3s;
  transition: border 0.3s;
}

.form-set__input:not(:last-child) {
  margin-bottom: 0.3125rem;
}

.form-set__input:focus {
  border: 0.0625rem solid rgb(0, 0, 0);
}

.form-set__info {
  opacity: 0.5;
  font-size: 0.875rem;
}

.id-block {
  padding-top: 1.5625rem;
  padding-bottom: 1.875rem;
}

.id-block__box {
  background: rgba(0, 0, 0, 0.03);
  padding: 1.875rem;
  max-width: 44.6875rem;
  width: 100%;
  margin: 0 auto;
}

.id-block__title {
  font-weight: 700;
  font-size: 1.5rem;
  text-align: center;
}

.id-block__title:not(:last-child) {
  margin-bottom: 0.3125rem;
}

.id-block__sub-title {
  text-align: center;
  font-size: 0.875rem;
  opacity: 0.5;
}

.id-block__sub-title:not(:last-child) {
  margin-bottom: 1.875rem;
}

.id-block__item:not(:last-child) {
  margin-bottom: 1.875rem;
}

.id-block__label {
  font-size: 0.875rem;
  display: inline-block;
}

.id-block__label:not(:last-child) {
  margin-bottom: 0.3125rem;
}

.id-block__wrap {
  position: relative;
}

.id-block__wrap::after {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0%, -50%);
  -ms-transform: translate(0%, -50%);
  transform: translate(0%, -50%);
  right: 1.25rem;
  width: 0.9375rem;
  height: 0.625rem;
  background: url("../img/arrow.svg") center no-repeat;
  pointer-events: none;
}

.id-block__select {
  width: 100%;
  border: 0.0625rem solid rgba(0, 0, 0, 0.05);
  border-radius: 0.25rem;
  padding: 0.3125rem 2.8125rem 0.3125rem 0.9375rem;
  background-color: #fff;
  height: 2.875rem;
  font-weight: 400;
  font-size: 16px;
  cursor: pointer;
  outline: none;
  color: #1b203f;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.id-block__body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 0.9375rem;
}

.id-block__body:not(:last-child) {
  margin-bottom: 1.875rem;
}

.id-block__column {
  position: relative;
  aspect-ratio: 320/201;
  border-radius: 0.625rem;
  overflow: hidden;
  padding: 0.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.id-block__column img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
  object-fit: cover;
}

.id-block__file {
  position: relative;
  z-index: 2;
}

.id-block__links {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 0.625rem;
}

.id-block__cancel {
  background: #fff;
  min-height: 2.6875rem;
  padding: 0.3125rem 0.625rem;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-weight: 500;
  font-size: 0.875rem;
  color: #202020;
  border-radius: 0.125rem;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.id-block__continue {
  background: #ff6d1e;
  min-height: 2.6875rem;
  padding: 0.3125rem 0.625rem;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-weight: 500;
  font-size: 0.875rem;
  color: #fff;
  border-radius: 0.125rem;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.file__item {
  position: relative;
}

.file__input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  font-size: 0;
  cursor: pointer;
}

.file__button {
  width: 100%;
  background-color: #F2F2F2;
  min-height: 2.6875rem;
  border-radius: 0.5rem;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0.3125rem 0.625rem;
  font-weight: 500;
  font-size: 0.875rem;
  color: #202020;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.login {
  padding-top: 1.5625rem;
  padding-bottom: 1.875rem;
}

.login__block {
  background: rgba(0, 0, 0, 0.03);
  max-width: 27.4375rem;
  width: 100%;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.03);
  padding: 1.875rem;
}

.login__title {
  font-weight: 700;
  font-size: 1.5rem;
  text-align: center;
}

.login__title:not(:last-child) {
  margin-bottom: 0.3125rem;
}

.login__sub-title {
  font-size: 0.875rem;
  text-align: center;
  opacity: 0.5;
}

.login__sub-title:not(:last-child) {
  margin-bottom: 1.875rem;
}

.login__item {
  position: relative;
}

.login__item:not(:last-child) {
  margin-bottom: 1.875rem;
}

.login__label {
  font-size: 0.875rem;
  display: inline-block;
  cursor: pointer;
}

.login__label:not(:last-child) {
  margin-bottom: 0.3125rem;
}

.login__input {
  width: 100%;
  border: 0.0625rem solid rgba(0, 0, 0, 0.05);
  border-radius: 0.25rem;
  padding-left: 0.9375rem;
  padding-right: 2.8125rem;
  width: 100%;
  height: 2.875rem;
  -webkit-transition: border 0.3s;
  transition: border 0.3s;
}

.login__input:focus {
  border: 0.0625rem solid rgb(0, 0, 0);
}

.login__viewpass {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  bottom: 0.875rem;
  right: 0.9375rem;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.login__viewpass.viewpass-active::after {
  content: "";
  position: absolute;
  height: 0.125rem;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
  -ms-transform: translate(-50%, -50%) rotate(45deg);
  transform: translate(-50%, -50%) rotate(45deg);
  width: 1.25rem;
  background-color: #808080;
  position: absolute;
  left: 50%;
  top: 50%;
}

.login__links {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 0.625rem;
}

.login__cancel {
  min-height: 2.6875rem;
  background-color: #fff;
  border-radius: 0.125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  font-weight: 500;
  font-size: 0.875rem;
  color: #202020;
  padding: 0.3125rem 0.625rem;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.login__create {
  min-height: 2.6875rem;
  background-color: #ff6d1e;
  border-radius: 0.125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  font-weight: 500;
  font-size: 0.875rem;
  color: #fff;
  padding: 0.3125rem 0.625rem;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.thanks {
  margin: auto 0;
  padding: 2.5rem 0;
  text-align: center;
}

.thanks__logo {
  max-width: 8.75rem;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
}

.thanks__logo img {
  max-width: 100%;
}

.thanks__logo:not(:last-child) {
  margin-bottom: 2.8125rem;
}

.thanks__title {
  font-weight: 700;
  font-size: 1.5rem;
}

.thanks__title:not(:last-child) {
  margin-bottom: 0.75rem;
}

.thanks__sub-title {
  font-size: 0.875rem;
  text-align: center;
  max-width: 25rem;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  opacity: 0.5;
}

.thanks__sub-title:not(:last-child) {
  margin-bottom: 1.875rem;
}

.thanks__caption {
  font-weight: 600;
}

.thanks__caption:not(:last-child) {
  margin-bottom: 0.3125rem;
}

.thanks__link {
  font-weight: 400;
  font-size: 14px;
  text-decoration: underline !important;
  color: #006fff;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.footer {
  background: #ff3a3a;
  padding: 0.625rem 0;
}

.footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 0.3125rem 1.25rem;
}

.footer__link {
  color: #000;
  position: relative;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.footer__link:not(:last-child)::after {
  content: "|";
  position: absolute;
  top: 50%;
  -webkit-transform: translate(50%, -50%);
  -ms-transform: translate(50%, -50%);
  transform: translate(50%, -50%);
  right: -0.625rem;
  pointer-events: none;
  color: #000;
}

.options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 1.875rem;
  margin-top: 0.4375rem;
}

.options__item {
  position: relative;
  cursor: pointer;
}

.options__input {
  width: 0;
  height: 0;
  opacity: 0;
  position: absolute;
}

.options__input:checked + .options__label:before {
  background: #262e61 url("../img/check.svg") center no-repeat;
}

.options__label {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  gap: 0.5rem;
}

.options__label:before {
  content: "";
  -ms-flex-item-align: start;
  align-self: flex-start;
  width: 1.5rem;
  height: 1.5rem;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 1.5rem;
  flex: 0 0 1.5rem;
  border-radius: 50%;
  border: 0.0625rem solid rgba(0, 0, 0, 0.2);
}

.options__text {
  font-size: 0.875rem;
}

@media (max-width: 61.99875em) {
  .header-block {
    padding: 0.625rem 0;
  }

  .header-block__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    min-height: 13.125rem;
  }

  .header-block__body {
    gap: 0.625rem;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
  }

  .header-block__item {
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    width: 4.0625rem;
  }

  .header-block__caption {
    font-size: 0.75rem;
  }

  .agreement__block {
    margin: 0 -0.9375rem;
  }

  .agreement__title {
    padding: 0.625rem 0.9375rem;
  }

  .agreement__text {
    height: calc(100vh - 4.125rem - 14.375rem - 2.8125rem - 10.8125rem - 1.875rem);
    min-height: 10rem;
    padding: 0.9375rem;
  }

  .agreement__text .simplebar-track {
    right: 0.3125rem;
    top: 0.625rem;
    bottom: 0.625rem;
  }

  .bottom-block {
    padding: 0.625rem 0;
  }

  .bottom-block__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 1.25rem;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    min-height: 9.5625rem;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .bottom-block__links {
    display: -ms-grid;
    display: grid;
    width: 100%;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .bottom-block__accept {
    width: 100%;
  }

  .bottom-block__cancel {
    width: auto;
  }

  .form-set {
    padding-top: 0;
    padding-bottom: 1.875rem;
  }

  .form-set__container {
    padding: 0;
  }

  .form-set__block {
    max-width: 100%;
    padding: 0.9375rem;
  }

  .id-block {
    padding-top: 0;
  }

  .id-block__container {
    padding: 0;
  }

  .id-block__box {
    max-width: 100%;
    padding: 0.9375rem;
  }

  .login {
    padding-top: 0;
  }

  .login__container {
    padding: 0;
  }

  .login__block {
    max-width: 100%;
    padding: 0.9375rem;
  }
}

@media (max-width: 47.99875em) {
  .header {
    padding: 0.625rem 0;
  }

  .header__logo {
    max-width: 10rem;
  }

  .hero__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 2.5rem 0.9375rem;
    margin-left: -0.9375rem;
    margin-right: -0.9375rem;
  }

  .hero__content {
    max-width: 100%;
    padding: 0.9375rem;
  }

  .hero__form {
    max-width: 100%;
  }

  .hero__box {
    max-width: 100%;
  }

  .form-hero {
    padding: 0.9375rem;
  }

  .form-set__block {
    gap: 1.25rem;
  }

  .form-set__row {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .form-set__row_2 {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .form-set__item_mt {
    margin: 0;
  }

  .id-block__body {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}

@media (any-hover: hover) {
  .hero__text a:hover {
    opacity: 0.8;
  }

  .form-hero__link:hover {
    opacity: 1;
  }

  .form-hero__button:hover {
    opacity: 0.9;
  }

  .form-hero__submit:hover {
    opacity: 0.9;
  }

  .bottom-block__accept:hover {
    opacity: 0.8;
  }

  .bottom-block__cancel:hover {
    opacity: 0.8;
  }

  .id-block__cancel:hover {
    opacity: 0.8;
  }

  .id-block__continue:hover {
    opacity: 0.8;
  }

  .file__item:hover .file__button {
    background-color: #fff;
  }

  .login__viewpass:hover {
    opacity: 0.8;
  }

  .login__cancel:hover {
    opacity: 0.8;
  }

  .login__create:hover {
    opacity: 0.8;
  }

  .thanks__link:hover {
    color: #1b203f;
  }

  .footer__link:hover {
    opacity: 0.6;
  }
}