@font-face {
  font-family: GoogleSans;
  font-display: swap;
  src: url("../fonts/GoogleSans-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: GoogleSans;
  font-display: swap;
  src: url("../fonts/GoogleSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: GoogleSans;
  font-display: swap;
  src: url("../fonts/GoogleSans-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

::-webkit-input-placeholder {
  color: inherit;
}

::-moz-placeholder {
  color: inherit;
}

:-ms-input-placeholder {
  color: inherit;
}

::-ms-input-placeholder {
  color: inherit;
}

::placeholder {
  color: inherit;
}

input,
button,
textarea,
select {
  font-family: "GoogleSans",sans-serif;
  font-size: inherit;
  color: #262e61;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  min-width: 320px;
  line-height: 1.25;
}

body {
  font-family: "GoogleSans",sans-serif;
  font-weight: 400;
  color: #262e61;
  font-size: 1rem;
  background-color: #f7f7f7;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

[class*=__container] {
  max-width: 73.125rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.wrapper {
  position: relative;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper>main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper>* {
  min-width: 0;
}

.header {
  padding: 0.9375rem 0;
  background-color: #fff;
  border-bottom: 0.0625rem solid rgba(0,0,0,.1);
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1.25rem;
}

.header__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 11.25rem;
          flex: 0 0 11.25rem;
  width: 11.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo img {
  max-width: 100%;
}

.header__link {
  border-radius: 0.5rem;
  max-width: 8.625rem;
  width: 100%;
  padding: 0.3125rem 0.625rem;
  min-height: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  font-size: 0.875rem;
  color: #fff;
  background: linear-gradient(225deg, #96a7ff 0%, #5d72df 100%);
  background-size: 150% 150%;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.hero {
  background: url("../img/hero-background.webp") top -20% center/100% no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding-top: 13.4375rem;
}

.hero__decor {
  width: 100%;
  text-align: center;
}

.hero__decor img {
  width: 100%;
}

.hero__container {
  width: 100%;
}

.hero__image {
  max-width: 8.75rem;
  margin-left: auto;
  margin-right: auto;
  opacity: .7;
}

.hero__image:not(:last-child) {
  margin-bottom: 1.875rem;
}

.hero__image img {
  max-width: 100%;
  -webkit-filter: brightness(0) saturate(100%) invert(39%) sepia(56%) saturate(1232%) hue-rotate(199deg) brightness(93%) contrast(89%);
          filter: brightness(0) saturate(100%) invert(39%) sepia(56%) saturate(1232%) hue-rotate(199deg) brightness(93%) contrast(89%);
}

.hero__title {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
  text-transform: uppercase;
  text-align: center;
  color: #5d72df;
}

.hero__title:not(:last-child) {
  margin-bottom: 0.625rem;
}

.hero__text {
  text-align: center;
  max-width: 29.6875rem;
  margin-left: auto;
  margin-right: auto;
  opacity: .5;
}

.hero__text:not(:last-child) {
  margin-bottom: 1.875rem;
}

.hero__link {
  border-radius: 0.5rem;
  max-width: 8.8125rem;
  width: 100%;
  padding: 0.3125rem 0.625rem;
  min-height: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  font-size: 0.875rem;
  color: #fff;
  background: linear-gradient(225deg, #96a7ff 0%, #5d72df 100%);
  background-size: 150% 150%;
  -webkit-transition: all .3s;
  transition: all .3s;
  margin: 0 auto;
}

.how {
  padding-bottom: 5rem;
}

.how__container {
  position: relative;
}

.how__content {
  max-width: 35.625rem;
  width: 100%;
}

.how__title {
  font-weight: 700;
  font-size: 2rem;
  line-height: 112%;
  margin-bottom: 0.3125rem;
  color: #5d72df;
}

.how__sub-title {
  font-size: 0.875rem;
  opacity: .5;
  max-width: 22.8125rem;
  margin-bottom: 1.25rem;
}

.how__items {
  display: -ms-grid;
  display: grid;
  gap: 0.625rem;
}

.how__item {
  border-radius: 0.5rem;
  padding: 0.9375rem;
  background-color: #fff;
  -webkit-box-shadow: 0 0.25rem 0.5rem 0 rgba(0,0,0,.02);
          box-shadow: 0 0.25rem 0.5rem 0 rgba(0,0,0,.02);
}

.how__item:nth-child(1) .how__icon {
  background: #d3fbff;
}

.how__item:nth-child(2) .how__icon {
  background: #e1e2ff;
}

.how__item:nth-child(3) .how__icon {
  background: #ffe4e4;
}

.how__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.9375rem;
  margin-bottom: 1.25rem;
}

.how__icon {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 3.125rem;
          flex: 0 0 3.125rem;
  width: 3.125rem;
  height: 3.125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0.25rem;
  background: #e1e2ff;
}

.how__caption {
  font-weight: 700;
  font-size: 1.25rem;
  color: #5d72df;
  max-width: 15rem;
}

.how__text {
  font-size: 0.875rem;
  opacity: .5;
}

.how__text ul {
  padding-left: 1.25rem;
}

.how__text ul li {
  list-style-type: disc;
}

.how__image {
  width: 76.0625rem;
  left: 30.625rem;
  position: absolute;
  bottom: -3.75rem;
}

.how__image img {
  max-width: 100%;
}

.video {
  padding-top: 5rem;
  padding-bottom: 5.625rem;
}

.video__title {
  font-weight: 700;
  font-size: 2rem;
  line-height: 112%;
  text-align: center;
  margin-bottom: 0.625rem;
  color: #5d72df;
}

.video__block {
  position: relative;
  aspect-ratio: 768/444;
  border-radius: 1.0625rem;
  overflow: hidden;
  max-width: 49.125rem;
  width: 100%;
  margin: 0 auto;
  position: relative;
  margin-bottom: 0.625rem;
}

.video__block video {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.video__play {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
  -webkit-transition: all .3s;
  transition: all .3s;
  cursor: pointer;
}

.play-video .video__play {
  opacity: 0;
  visibility: hidden;
}

.video__play img {
  max-width: 100%;
}

.video__text {
  opacity: .5;
  text-align: center;
}

.reviews {
  padding: 4.375rem 0;
}

.reviews__title {
  font-weight: 700;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 1.875rem;
  color: #5d72df;
}

.reviews__slide {
  -webkit-box-shadow: 0 0.5rem 1rem 0 rgba(0,0,0,.03);
          box-shadow: 0 0.5rem 1rem 0 rgba(0,0,0,.03);
  background: #fff;
  padding: 0.9375rem;
  height: auto;
  border-radius: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.reviews__avatar {
  position: relative;
  aspect-ratio: 64/64;
  width: 4rem;
  border-radius: 0.3125rem;
  overflow: hidden;
  margin-bottom: 0.625rem;
}

.reviews__avatar img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.reviews__caption {
  font-weight: 700;
  font-size: 1.25rem;
  margin-bottom: 0.3125rem;
}

.reviews__text {
  font-size: 0.875rem;
  margin-bottom: 1.25rem;
  opacity: .5;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.reviews__date {
  font-size: 0.875rem;
  opacity: .5;
}

.join {
  padding-top: 3.75rem;
  padding-bottom: 6.25rem;
  overflow: hidden;
  position: relative;
}

.join__container {
  position: relative;
  z-index: 2;
}

.join__decor {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  bottom: -33%;
}

.join__decor img {
  max-width: 100%;
}

.join__block {
  max-width: 22.625rem;
  width: 100%;
  margin: 0 auto;
}

.join__title {
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: 0.3125rem;
  text-align: center;
  color: #5d72df;
}

.join__sub-title {
  opacity: .5;
  font-size: 0.875rem;
  text-align: center;
  margin-bottom: 1.25rem;
}

.join__link {
  max-width: 100%;
  min-height: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0.5rem;
  font-weight: 500;
  font-size: 0.875rem;
  color: #fff;
  margin: 0 auto;
  position: relative;
  z-index: 2;
  background: linear-gradient(225deg, #96a7ff 0%, #5d72df 100%);
  background-size: 150% 150%;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.footer {
  border-bottom: 0.0625rem solid rgba(0,0,0,.1);
  background-color: #fff;
  padding: 0.9375rem 0;
  position: relative;
  z-index: 2;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1.25rem;
}

.footer__logo {
  max-width: 13rem;
  width: 100%;
}

.footer__logo img {
  max-width: 8.125rem;
}

.footer__text {
  color: #000;
  font-size: 0.875rem;
  opacity: .5;
}

.footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.25rem;
}

.footer__link {
  text-decoration: underline !important;
  font-size: 0.875rem;
  -webkit-transition: all .3s;
  transition: all .3s;
  color: #5d72df;
}

.options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.options__item {
  position: relative;
  cursor: pointer;
}

.options__item:not(:last-child) {
  margin-bottom: 0.3125rem;
}

.options__input {
  width: 0;
  height: 0;
  opacity: 0;
  position: absolute;
}

.options__input:focus+.options__label:before {
  -webkit-box-shadow: 0 0 0.3125rem #000;
          box-shadow: 0 0 0.3125rem #000;
}

.options__input:checked+.options__label:after {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.options__label {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  position: relative;
  gap: 0.625rem;
}

.options__label:before {
  content: "";
  -ms-flex-item-align: start;
      align-self: flex-start;
  width: 1.25rem;
  height: 1.25rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 1.25rem;
          flex: 0 0 1.25rem;
  border-radius: 50%;
  border: 0.0625rem solid #a7a9ac;
}

.options__label:after {
  content: "";
  -webkit-transition: all .3s ease 0s;
  transition: all .3s ease 0s;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  width: 0.625rem;
  height: 0.625rem;
  border-radius: 50%;
  background-color: #77243a;
  position: absolute;
  left: 0.3125rem;
  top: 0.3125rem;
}

.swiper {
  overflow: hidden;
}

.swiper-initialized {
  -ms-touch-action: pan-y;
      touch-action: pan-y;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

@media (max-width: 73.125em) {
  .hero {
    padding-top: 9.375rem;
  }
}

@media (max-width: 61.99875em) {
  .how {
    padding-top: 1.4375rem;
    padding-bottom: 3.75rem;
  }

  .how__content {
    max-width: 100%;
    padding-top: 0;
  }

  .how__title {
    text-align: center;
  }

  .how__sub-title {
    text-align: center;
    max-width: 100%;
  }

  .how__item {
    padding: 1.25rem;
  }

  .how__image {
    position: static;
    width: 56.25rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    margin: 1.25rem auto;
  }

  .video {
    padding: 3.75rem 0;
  }

  .video__title {
    text-align: center;
  }
}

@media (max-width: 47.99875em) {
  .header__container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .header__logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 9.375rem;
            flex: 0 0 9.375rem;
    width: 9.375rem;
  }

  .header__link {
    display: none;
  }

  .hero {
    padding-top: 8.125rem;
    background: url("../img/hero-background.webp") top center/120% no-repeat;
  }

  .hero__decor {
    width: 120%;
    margin-top: 0.625rem;
  }

  .hero__image {
    max-width: 5.625rem;
  }

  .hero__title {
    font-size: 1.5rem;
  }

  .hero__text {
    font-size: 0.875rem;
    max-width: 16.875rem;
  }

  .hero__link {
    max-width: 100%;
  }

  .how__title {
    font-size: 1.5rem;
  }

  .how__row {
    gap: 0.625rem;
    margin-bottom: 0.625rem;
  }

  .how__icon {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 2.5rem;
            flex: 0 0 2.5rem;
    width: 2.5rem;
    height: 2.5rem;
  }

  .how__caption {
    font-size: 1.125rem;
  }

  .how__text {
    font-size: 0.75rem;
  }

  .how__image {
    width: 37.5rem;
  }

  .video__title {
    font-size: 1.5rem;
  }

  .video__block {
    border-radius: 0.5rem;
  }

  .video__play {
    width: 2.375rem;
  }

  .video__text {
    font-size: 0.875rem;
  }

  .reviews {
    padding: 3.75rem 0;
  }

  .reviews__title {
    margin-bottom: 1.25rem;
  }

  .reviews__slide {
    padding: 0.625rem;
  }

  .reviews__avatar {
    width: 3.375rem;
  }

  .reviews__caption {
    font-size: 1.125rem;
  }

  .reviews__text {
    font-size: 0.75rem;
  }

  .reviews__date {
    font-size: 0.75rem;
  }

  .join {
    padding-top: 3.75rem;
    padding-bottom: 5.3125rem;
  }

  .join__decor {
    display: none;
  }

  .join__block {
    max-width: 100%;
  }

  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .footer__logo {
    max-width: 8.125rem;
    text-align: center;
  }

  .footer__text {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .footer__links {
    gap: 1.875rem;
  }
}

@media (any-hover: hover) {
  .header__link:hover {
    background-position: 100%;
  }

  .hero__link:hover {
    background-position: 100%;
  }

  .video__play:hover {
    -webkit-transform: translate(-50%, -50%) scale(1.1);
        -ms-transform: translate(-50%, -50%) scale(1.1);
            transform: translate(-50%, -50%) scale(1.1);
  }

  .join__link:hover {
    background-position: 100%;
  }

  .footer__link:hover {
    text-decoration: none !important;
  }
}