@import url("https://fonts.googleapis.com/css?family=Montserrat:regular&display=swap");

@import url("https://fonts.googleapis.com/css?family=Syne:600,700&display=swap");

@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

[class*=_icon-]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]:before {
  display: block;
}

._icon-facebook:before {
  content: "\e900";
  color: #fff;
}

._icon-instagram:before {
  content: "\e901";
  color: #fff;
}

._icon-telegram:before {
  content: "\e902";
  color: #fff;
}

._icon-youtube:before {
  content: "\e903";
  color: #fff;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

::-webkit-input-placeholder {
  color: inherit;
}

::-moz-placeholder {
  color: inherit;
}

:-ms-input-placeholder {
  color: inherit;
}

::-ms-input-placeholder {
  color: inherit;
}

::placeholder {
  color: inherit;
}

input,
button,
textarea {
  font-family: "Montserrat", sans-serif;
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  min-width: 360px;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #f8f5fa;
  font-size: 1rem;
  background-color: #0d0d0e;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
  touch-action: none;
  -ms-scroll-chaining: none;
  overscroll-behavior: none;
}

[class*=__container] {
  max-width: 78rem;
  margin: 0 auto;
  padding: 0 1.25rem;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

.wrapper {
  position: relative;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

.title {
  font-weight: 700;
  font-family: "Syne", sans-serif;
  font-size: 44px;
}

@supports (font-size: clamp( 2.25rem , 2.0472972973rem  +  0.9009009009vw , 2.75rem )) {
  .title {
    font-size: clamp( 2.25rem , 2.0472972973rem  +  0.9009009009vw , 2.75rem );
  }
}

@supports not (font-size: clamp( 2.25rem , 2.0472972973rem  +  0.9009009009vw , 2.75rem )) {
  .title {
    font-size: calc(2.25rem + 0.5 * (100vw - 22.5rem) / 55.5);
  }
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 6;
  padding: 1.25rem 0;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 2.5rem;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header__button {
  font-family: "Syne", sans-serif;
  background: linear-gradient(211deg, #05ffff 0%, #4c31f2 33%, #fc3c81 66%, #ffa336 100%);
  font-weight: 600;
  font-size: 1.125rem;
  text-transform: uppercase;
  color: #fff;
  border-radius: 0.75rem;
  padding: 0.5rem 1rem;
  text-align: center;
  white-space: nowrap;
  background-size: 100% 100%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.wrapper {
  background: url("../img/srars.webp") 0 0/cover no-repeat;
}

.hero {
  min-height: 100vh;
  padding-bottom: 3.125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

@supports (padding-top: clamp( 12.5rem , -12.5rem  +  52.0833333333vw , 28.125rem )) {
  .hero {
    padding-top: clamp( 12.5rem , -12.5rem  +  52.0833333333vw , 28.125rem );
  }
}

@supports not (padding-top: clamp( 12.5rem , -12.5rem  +  52.0833333333vw , 28.125rem )) {
  .hero {
    padding-top: calc(12.5rem + 15.625 * (100vw - 48rem) / 30);
  }
}

.hero__image {
  text-align: center;
  position: relative;
}

.hero__image::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 21.875rem;
  height: 21.875rem;
  border-radius: 50%;
  background: linear-gradient(225deg, #05b4ff 0%, #b32ef2 50%, #ffa336 100%);
  -webkit-filter: blur(28.125rem);
  filter: blur(28.125rem);
}

.hero__image img {
  max-width: 100%;
  width: 21.875rem;
  position: relative;
  z-index: 2;
}

.hero__container {
  position: relative;
  z-index: 2;
  height: 100%;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.hero__star {
  margin-left: 0.3125rem;
  margin-top: 0.625rem;
}

@supports (font-size: clamp( 1rem , 0.6452702703rem  +  1.5765765766vw , 1.875rem )) {
  .hero__star {
    font-size: clamp( 1rem , 0.6452702703rem  +  1.5765765766vw , 1.875rem );
  }
}

@supports not (font-size: clamp( 1rem , 0.6452702703rem  +  1.5765765766vw , 1.875rem )) {
  .hero__star {
    font-size: calc(1rem + 0.875 * (100vw - 22.5rem) / 55.5);
  }
}

.hero__anim-1 {
  opacity: 0;
  -webkit-transition: all 0.8s 0.2s;
  transition: all 0.8s 0.2s;
  -webkit-transform: translate(0rem, 20%);
  -ms-transform: translate(0rem, 20%);
  transform: translate(0rem, 20%);
}

.loaded .hero__anim-1 {
  opacity: 1;
  -webkit-transform: translate(0rem, 0rem);
  -ms-transform: translate(0rem, 0rem);
  transform: translate(0rem, 0rem);
}

.hero__anim-2 {
  opacity: 0;
  -webkit-transition: all 0.8s 0.6s;
  transition: all 0.8s 0.6s;
  -webkit-transform: translate(0rem, 20%);
  -ms-transform: translate(0rem, 20%);
  transform: translate(0rem, 20%);
}

.loaded .hero__anim-2 {
  opacity: 1;
  -webkit-transform: translate(0rem, 0rem);
  -ms-transform: translate(0rem, 0rem);
  transform: translate(0rem, 0rem);
}

.hero__title {
  font-family: "Syne", sans-serif;
  font-weight: 700;
  text-align: center;
  margin: 0 auto 1.875rem;
}

@supports (font-size: clamp( 2.5rem , 1.9932432432rem  +  2.2522522523vw , 3.75rem )) {
  .hero__title {
    font-size: clamp( 2.5rem , 1.9932432432rem  +  2.2522522523vw , 3.75rem );
  }
}

@supports not (font-size: clamp( 2.5rem , 1.9932432432rem  +  2.2522522523vw , 3.75rem )) {
  .hero__title {
    font-size: calc(2.5rem + 1.25 * (100vw - 22.5rem) / 55.5);
  }
}

.hero__title_mobile {
  display: none;
}

.hero__title span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.hero__text {
  text-align: center;
  color: #cfc1d6;
  margin-bottom: 5.5rem;
  opacity: 0;
  -webkit-transition: all 0.8s 1s;
  transition: all 0.8s 1s;
  -webkit-transform: translate(0rem, 20%);
  -ms-transform: translate(0rem, 20%);
  transform: translate(0rem, 20%);
}

@supports (font-size: clamp( 0.9375rem , 0.8614864865rem  +  0.3378378378vw , 1.125rem )) {
  .hero__text {
    font-size: clamp( 0.9375rem , 0.8614864865rem  +  0.3378378378vw , 1.125rem );
  }
}

@supports not (font-size: clamp( 0.9375rem , 0.8614864865rem  +  0.3378378378vw , 1.125rem )) {
  .hero__text {
    font-size: calc(0.9375rem + 0.1875 * (100vw - 22.5rem) / 55.5);
  }
}

.loaded .hero__text {
  opacity: 1;
  -webkit-transform: translate(0rem, 0rem);
  -ms-transform: translate(0rem, 0rem);
  transform: translate(0rem, 0rem);
}

.hero__icon {
  width: 2.75rem;
  height: 3.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  border-radius: 2.625rem;
  margin: auto auto 0;
  cursor: pointer;
}

.hero__icon::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: radial-gradient(68.18% 50% at 50% 50%, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0.1) 100%);
  opacity: 0.15;
  border-radius: 2.625rem;
  background-size: 100% 100%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.hero__icon::before {
  content: "";
  width: 0.0625rem;
  height: 2.75rem;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0.625rem);
  -ms-transform: translate(-50%, 0.625rem);
  transform: translate(-50%, 0.625rem);
  bottom: 100%;
  background-color: #fff;
  z-index: 2;
  pointer-events: none;
}

.hero__icon span {
  display: block;
  border: 0.0625rem solid #fff;
  border-radius: 1.5rem;
  width: 0.875rem;
  height: 1.5rem;
  position: relative;
}

.hero__icon span::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 0.0625rem;
  height: 0.25rem;
  background-color: #fff;
  -webkit-animation: move 0.8s infinite linear;
  animation: move 0.8s infinite linear;
}

.ready {
  padding-bottom: 8.125rem;
  padding-top: 1.25rem;
  position: relative;
  z-index: 3;
}

.ready__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 2.1875rem;
}

.ready__content {
  position: relative;
  z-index: 2;
  max-width: 31.25rem;
}

.ready__title {
  margin-bottom: 1.25rem;
}

.ready__title span {
  display: inline-block;
}

.ready__title span:first-child {
  opacity: 0;
  -webkit-transform: translate(-100%, 0rem);
  -ms-transform: translate(-100%, 0rem);
  transform: translate(-100%, 0rem);
  -webkit-transition: all 0.8s 0.2s;
  transition: all 0.8s 0.2s;
}

.ready__title span:last-child {
  opacity: 0;
  -webkit-transform: translate(100%, 0rem);
  -ms-transform: translate(100%, 0rem);
  transform: translate(100%, 0rem);
  -webkit-transition: all 0.8s 0.6s;
  transition: all 0.8s 0.6s;
}

.ready__title._watcher-view span:first-child {
  opacity: 1;
  -webkit-transform: translate(0rem, 0rem);
  -ms-transform: translate(0rem, 0rem);
  transform: translate(0rem, 0rem);
}

.ready__title._watcher-view span:last-child {
  opacity: 1;
  -webkit-transform: translate(0rem, 0rem);
  -ms-transform: translate(0rem, 0rem);
  transform: translate(0rem, 0rem);
}

.ready__text {
  color: #cfc1d6;
}

@supports (font-size: clamp( 0.9375rem , 0.8614864865rem  +  0.3378378378vw , 1.125rem )) {
  .ready__text {
    font-size: clamp( 0.9375rem , 0.8614864865rem  +  0.3378378378vw , 1.125rem );
  }
}

@supports not (font-size: clamp( 0.9375rem , 0.8614864865rem  +  0.3378378378vw , 1.125rem )) {
  .ready__text {
    font-size: calc(0.9375rem + 0.1875 * (100vw - 22.5rem) / 55.5);
  }
}

.ready__text span {
  display: inline-block;
}

.ready__text span:first-child {
  opacity: 0;
  -webkit-transform: translate(-100%, 0rem);
  -ms-transform: translate(-100%, 0rem);
  transform: translate(-100%, 0rem);
  -webkit-transition: all 0.8s 0.2s;
  transition: all 0.8s 0.2s;
}

.ready__text span:last-child {
  opacity: 0;
  -webkit-transform: translate(100%, 0rem);
  -ms-transform: translate(100%, 0rem);
  transform: translate(100%, 0rem);
  -webkit-transition: all 0.8s 0.6s;
  transition: all 0.8s 0.6s;
}

.ready__text._watcher-view span:first-child {
  opacity: 1;
  -webkit-transform: translate(0rem, 0rem);
  -ms-transform: translate(0rem, 0rem);
  transform: translate(0rem, 0rem);
}

.ready__text._watcher-view span:last-child {
  opacity: 1;
  -webkit-transform: translate(0rem, 0rem);
  -ms-transform: translate(0rem, 0rem);
  transform: translate(0rem, 0rem);
}

.ready__image {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 37.6602564103%;
  flex: 0 0 37.6602564103%;
  position: relative;
  opacity: 0;
  -webkit-transform: translate(50%, 0%);
  -ms-transform: translate(50%, 0%);
  transform: translate(50%, 0%);
  -webkit-transition: all 0.8s 0.2s;
  transition: all 0.8s 0.2s;
}

.ready__image._watcher-view {
  opacity: 1;
  -webkit-transform: translate(0rem, 0rem);
  -ms-transform: translate(0rem, 0rem);
  transform: translate(0rem, 0rem);
}

.ready__image::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-radius: 100%;
  background: #3fc39c;
  -webkit-filter: blur(21.875rem);
  filter: blur(21.875rem);
  width: 21.25rem;
  height: 21.25rem;
}

.ready__image img {
  max-width: 100%;
  position: relative;
  z-index: 2;
}

.earn__block {
  position: relative;
  z-index: 2;
  padding: 5rem 10rem;
  border-radius: 3.25rem;
  -webkit-backdrop-filter: blur(15.625rem);
  backdrop-filter: blur(15.625rem);
  background: radial-gradient(100% 100% at 50% 0%, rgba(255, 255, 255, 0.08), rgba(255, 255, 255, 0.01) 100%);
}

.earn__bg {
  position: relative;
}

.earn__image-1 {
  position: absolute;
  -webkit-transform-origin: center center;
  -ms-transform-origin: center center;
  transform-origin: center center;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

@supports (bottom: clamp( -9.375rem , -4.9831081081rem  +  -5.6306306306vw , -6.25rem )) {
  .earn__image-1 {
    bottom: clamp( -9.375rem , -4.9831081081rem  +  -5.6306306306vw , -6.25rem );
  }
}

@supports not (bottom: clamp( -9.375rem , -4.9831081081rem  +  -5.6306306306vw , -6.25rem )) {
  .earn__image-1 {
    bottom: calc(-6.25rem + -3.125 * (100vw - 22.5rem) / 55.5);
  }
}

@supports (left: clamp( -9.375rem , -7.6182432432rem  +  -2.2522522523vw , -8.125rem )) {
  .earn__image-1 {
    left: clamp( -9.375rem , -7.6182432432rem  +  -2.2522522523vw , -8.125rem );
  }
}

@supports not (left: clamp( -9.375rem , -7.6182432432rem  +  -2.2522522523vw , -8.125rem )) {
  .earn__image-1 {
    left: calc(-8.125rem + -1.25 * (100vw - 22.5rem) / 55.5);
  }
}

@supports (width: clamp( 18.75rem , 15.8108108108rem  +  13.0630630631vw , 26rem )) {
  .earn__image-1 img {
    width: clamp( 18.75rem , 15.8108108108rem  +  13.0630630631vw , 26rem );
  }
}

@supports not (width: clamp( 18.75rem , 15.8108108108rem  +  13.0630630631vw , 26rem )) {
  .earn__image-1 img {
    width: calc(18.75rem + 7.25 * (100vw - 22.5rem) / 55.5);
  }
}

.earn__image-2 {
  position: absolute;
  top: -15%;
  z-index: -1;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

@supports (right: clamp( -7.5rem , -5.7432432432rem  +  -2.2522522523vw , -6.25rem )) {
  .earn__image-2 {
    right: clamp( -7.5rem , -5.7432432432rem  +  -2.2522522523vw , -6.25rem );
  }
}

@supports not (right: clamp( -7.5rem , -5.7432432432rem  +  -2.2522522523vw , -6.25rem )) {
  .earn__image-2 {
    right: calc(-6.25rem + -1.25 * (100vw - 22.5rem) / 55.5);
  }
}

@supports (width: clamp( 20.625rem , 15.6841216216rem  +  21.9594594595vw , 32.8125rem )) {
  .earn__image-2 img {
    width: clamp( 20.625rem , 15.6841216216rem  +  21.9594594595vw , 32.8125rem );
  }
}

@supports not (width: clamp( 20.625rem , 15.6841216216rem  +  21.9594594595vw , 32.8125rem )) {
  .earn__image-2 img {
    width: calc(20.625rem + 12.1875 * (100vw - 22.5rem) / 55.5);
  }
}

.earn__title {
  text-align: center;
  margin-bottom: 1.25rem;
}

.earn__sub-title {
  text-align: center;
  color: #cfc1d6;
  margin-bottom: 3.125rem;
}

@supports (font-size: clamp( 0.9375rem , 0.8614864865rem  +  0.3378378378vw , 1.125rem )) {
  .earn__sub-title {
    font-size: clamp( 0.9375rem , 0.8614864865rem  +  0.3378378378vw , 1.125rem );
  }
}

@supports not (font-size: clamp( 0.9375rem , 0.8614864865rem  +  0.3378378378vw , 1.125rem )) {
  .earn__sub-title {
    font-size: calc(0.9375rem + 0.1875 * (100vw - 22.5rem) / 55.5);
  }
}

.earn__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 53.125rem;
}

@supports (gap: clamp( 2.5rem , -13.5rem  +  33.3333333333vw , 12.5rem )) {
  .earn__body {
    gap: clamp( 2.5rem , -13.5rem  +  33.3333333333vw , 12.5rem );
  }
}

@supports not (gap: clamp( 2.5rem , -13.5rem  +  33.3333333333vw , 12.5rem )) {
  .earn__body {
    gap: calc(2.5rem + 10 * (100vw - 48rem) / 30);
  }
}

.earn__content {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 25rem;
  flex: 0 0 25rem;
  width: 100%;
}

.earn__item:not(:last-child) {
  margin-bottom: 5rem;
}

.earn__item:last-child .earn__number {
  width: 1.5625rem;
}

.earn__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 1.25rem;
  margin-bottom: 1.875rem;
}

.earn__text {
  color: #cfc1d6;
}

@supports (font-size: clamp( 1.125rem , 1.0236486486rem  +  0.4504504505vw , 1.375rem )) {
  .earn__text {
    font-size: clamp( 1.125rem , 1.0236486486rem  +  0.4504504505vw , 1.375rem );
  }
}

@supports not (font-size: clamp( 1.125rem , 1.0236486486rem  +  0.4504504505vw , 1.375rem )) {
  .earn__text {
    font-size: calc(1.125rem + 0.25 * (100vw - 22.5rem) / 55.5);
  }
}

.earn__box {
  background: rgba(255, 255, 255, 0.1);
  border: 0.0625rem solid rgba(255, 255, 255, 0.2);
  border-radius: 3rem;
  padding: 0.25rem 0.25rem 0.25rem 0.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 0.625rem;
  height: 1.875rem;
}

.earn__number {
  color: #fff;
  background: transparent;
  min-width: auto;
  width: 3.4375rem;
}

@supports (font-size: clamp( 0.9375rem , 0.8614864865rem  +  0.3378378378vw , 1.125rem )) {
  .earn__number {
    font-size: clamp( 0.9375rem , 0.8614864865rem  +  0.3378378378vw , 1.125rem );
  }
}

@supports not (font-size: clamp( 0.9375rem , 0.8614864865rem  +  0.3378378378vw , 1.125rem )) {
  .earn__number {
    font-size: calc(0.9375rem + 0.1875 * (100vw - 22.5rem) / 55.5);
  }
}

.earn__range {
  width: 100%;
}

.earn__days {
  color: rgba(255, 255, 255, 0.6);
  margin-right: 0.25rem;
}

@supports (font-size: clamp( 0.9375rem , 0.9121621622rem  +  0.1126126126vw , 1rem )) {
  .earn__days {
    font-size: clamp( 0.9375rem , 0.9121621622rem  +  0.1126126126vw , 1rem );
  }
}

@supports not (font-size: clamp( 0.9375rem , 0.9121621622rem  +  0.1126126126vw , 1rem )) {
  .earn__days {
    font-size: calc(0.9375rem + 0.0625 * (100vw - 22.5rem) / 55.5);
  }
}

.earn__column {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.earn__wrap:not(:last-child) {
  margin-bottom: 2.5rem;
}

.earn__label {
  font-size: 1.375rem;
  color: #cfc1d6;
}

@supports (font-size: clamp( 0.9375rem , 0.7601351351rem  +  0.7882882883vw , 1.375rem )) {
  .earn__label {
    font-size: clamp( 0.9375rem , 0.7601351351rem  +  0.7882882883vw , 1.375rem );
  }
}

@supports not (font-size: clamp( 0.9375rem , 0.7601351351rem  +  0.7882882883vw , 1.375rem )) {
  .earn__label {
    font-size: calc(0.9375rem + 0.4375 * (100vw - 22.5rem) / 55.5);
  }
}

.earn__value {
  font-weight: 700;
  font-family: "Syne", sans-serif;
  margin-top: -0.2em;
  white-space: nowrap;
}

@supports (font-size: clamp( 3.75rem , 2.7364864865rem  +  4.5045045045vw , 6.25rem )) {
  .earn__value {
    font-size: clamp( 3.75rem , 2.7364864865rem  +  4.5045045045vw , 6.25rem );
  }
}

@supports not (font-size: clamp( 3.75rem , 2.7364864865rem  +  4.5045045045vw , 6.25rem )) {
  .earn__value {
    font-size: calc(3.75rem + 2.5 * (100vw - 22.5rem) / 55.5);
  }
}

.app {
  padding-top: 8.125rem;
}

.app__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@supports (padding-top: clamp( 0.00000625rem , -4.0540452703rem  +  18.0180067568vw , 10rem )) {
  .app__content {
    padding-top: clamp( 0.00000625rem , -4.0540452703rem  +  18.0180067568vw , 10rem );
  }
}

@supports not (padding-top: clamp( 0.00000625rem , -4.0540452703rem  +  18.0180067568vw , 10rem )) {
  .app__content {
    padding-top: calc(0.00000625rem + 9.99999375 * (100vw - 22.5rem) / 55.5);
  }
}

.app__title {
  margin-bottom: 1.25rem;
}

.app__title span {
  display: inline-block;
}

.app__title span:first-child {
  opacity: 0;
  -webkit-transform: translate(-100%, 0rem);
  -ms-transform: translate(-100%, 0rem);
  transform: translate(-100%, 0rem);
  -webkit-transition: all 0.8s 0.2s;
  transition: all 0.8s 0.2s;
}

.app__title span:last-child {
  opacity: 0;
  -webkit-transform: translate(100%, 0rem);
  -ms-transform: translate(100%, 0rem);
  transform: translate(100%, 0rem);
  -webkit-transition: all 0.8s 0.6s;
  transition: all 0.8s 0.6s;
}

.app__title._watcher-view span:first-child {
  opacity: 1;
  -webkit-transform: translate(0rem, 0rem);
  -ms-transform: translate(0rem, 0rem);
  transform: translate(0rem, 0rem);
}

.app__title._watcher-view span:last-child {
  opacity: 1;
  -webkit-transform: translate(0rem, 0rem);
  -ms-transform: translate(0rem, 0rem);
  transform: translate(0rem, 0rem);
}

.app__text {
  color: #cfc1d6;
  margin-bottom: 2.75rem;
}

@supports (font-size: clamp( 0.9375rem , 0.8614864865rem  +  0.3378378378vw , 1.125rem )) {
  .app__text {
    font-size: clamp( 0.9375rem , 0.8614864865rem  +  0.3378378378vw , 1.125rem );
  }
}

@supports not (font-size: clamp( 0.9375rem , 0.8614864865rem  +  0.3378378378vw , 1.125rem )) {
  .app__text {
    font-size: calc(0.9375rem + 0.1875 * (100vw - 22.5rem) / 55.5);
  }
}

.app__text span {
  display: inline-block;
}

.app__text span:first-child {
  opacity: 0;
  -webkit-transform: translate(-100%, 0rem);
  -ms-transform: translate(-100%, 0rem);
  transform: translate(-100%, 0rem);
  -webkit-transition: all 0.8s 0.2s;
  transition: all 0.8s 0.2s;
}

.app__text span:last-child {
  opacity: 0;
  -webkit-transform: translate(100%, 0rem);
  -ms-transform: translate(100%, 0rem);
  transform: translate(100%, 0rem);
  -webkit-transition: all 0.8s 0.6s;
  transition: all 0.8s 0.6s;
}

.app__text._watcher-view span:first-child {
  opacity: 1;
  -webkit-transform: translate(0rem, 0rem);
  -ms-transform: translate(0rem, 0rem);
  transform: translate(0rem, 0rem);
}

.app__text._watcher-view span:last-child {
  opacity: 1;
  -webkit-transform: translate(0rem, 0rem);
  -ms-transform: translate(0rem, 0rem);
  transform: translate(0rem, 0rem);
}

.app__link {
  background: linear-gradient(211deg, #05ffff 0%, #4c31f2 33%, #fc3c81 66%, #ffa336 100%);
  font-family: "Syne", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  border-radius: 1.25rem;
  padding: 1rem 2rem;
  display: inline-block;
  position: relative;
  background-size: 100% 100%;
  -webkit-transition: all 1s 0.4s, background-size 0.3s;
  transition: all 1s 0.4s, background-size 0.3s;
  opacity: 0;
  -webkit-transform: translate(0%, 100%);
  -ms-transform: translate(0%, 100%);
  transform: translate(0%, 100%);
}

@supports (font-size: clamp( 0.9375rem , 0.8614864865rem  +  0.3378378378vw , 1.125rem )) {
  .app__link {
    font-size: clamp( 0.9375rem , 0.8614864865rem  +  0.3378378378vw , 1.125rem );
  }
}

@supports not (font-size: clamp( 0.9375rem , 0.8614864865rem  +  0.3378378378vw , 1.125rem )) {
  .app__link {
    font-size: calc(0.9375rem + 0.1875 * (100vw - 22.5rem) / 55.5);
  }
}

.app__link._watcher-view {
  opacity: 1;
  -webkit-transform: translate(0rem, 0rem);
  -ms-transform: translate(0rem, 0rem);
  transform: translate(0rem, 0rem);
}

.app__link::before {
  content: "";
  position: absolute;
  -webkit-filter: blur(50px);
  filter: blur(50px);
  background: linear-gradient(211deg, #05ffff 0%, #4c31f2 33%, #fc3c81 66%, #ffa336 100%);
  opacity: 0.5;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 110%;
  height: 120%;
}

.app__image {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50.8814102564%;
  flex: 0 0 50.8814102564%;
  position: relative;
}

.app__image::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  -webkit-transform: translate(-50%, 20%);
  -ms-transform: translate(-50%, 20%);
  transform: translate(-50%, 20%);
  width: 21.875rem;
  height: 21.875rem;
  border-radius: 50%;
  border-radius: 100%;
  background: linear-gradient(225deg, #05b4ff 0%, #b32ef2 50%, #ffa336 100%);
  -webkit-filter: blur(37.5rem);
  filter: blur(37.5rem);
}

.app__image img {
  max-width: 100%;
  position: relative;
  z-index: 2;
}

@-webkit-keyframes move {
  0% {
    top: 50%;
  }

  100% {
    top: 80%;
  }
}

@keyframes move {
  0% {
    top: 50%;
  }

  100% {
    top: 80%;
  }
}

.footer {
  padding-top: 3.75rem;
  padding-bottom: 1.25rem;
  text-align: center;
  background: #0d0d0e;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 2rem;
}

.footer__item {
  border-radius: 0.75rem;
  width: 2.5rem;
  height: 2.5rem;
  background: linear-gradient(312deg, #05ffff 0%, #4c31f2 33%, #fc3c81 66%, #ffa336 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-size: 100% 100%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.footer__item:nth-child(1) {
  font-size: 1.125rem;
}

.footer__item:nth-child(3) {
  font-size: 1.25rem;
}

.footer__item:nth-child(4) {
  font-size: 1.125rem;
  padding-right: 0.0625rem;
  padding-top: 0.0625rem;
}

.footer__copy {
  color: #cfc1d6;
}

@supports (font-size: clamp( 0.9375rem , 0.8614864865rem  +  0.3378378378vw , 1.125rem )) {
  .footer__copy {
    font-size: clamp( 0.9375rem , 0.8614864865rem  +  0.3378378378vw , 1.125rem );
  }
}

@supports not (font-size: clamp( 0.9375rem , 0.8614864865rem  +  0.3378378378vw , 1.125rem )) {
  .footer__copy {
    font-size: calc(0.9375rem + 0.1875 * (100vw - 22.5rem) / 55.5);
  }
}

/* Functional styling;
 * These styles are required for noUiSlider to function.
 * You don't need to change these rules to apply your design.
 */

.noUi-target,
.noUi-target * {
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-user-select: none;
  -ms-touch-action: none;
  touch-action: none;
  -ms-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.noUi-target {
  position: relative;
}

.noUi-base {
  background: linear-gradient(211deg, #05ffff 0%, #4c31f2 33%, #fc3c81 66%, #ffa336 100%);
  border-radius: 0.625rem;
}

.noUi-base,
.noUi-connects {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
}

/* Wrapper for all connect elements.
 */

.noUi-connects {
  overflow: hidden;
  z-index: 0;
  border-radius: 0.5rem;
}

.noUi-connect,
.noUi-origin {
  will-change: transform;
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  -ms-transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  -webkit-transform-style: preserve-3d;
  transform-origin: 0 0;
  -webkit-transform-style: flat;
  transform-style: flat;
}

/* Offset direction
 */

.noUi-txt-dir-rtl.noUi-horizontal .noUi-origin {
  left: 0;
  right: auto;
}

/* Give origins 0 height/width so they don't interfere with clicking the
 * connect elements.
 */

.noUi-vertical .noUi-origin {
  top: -100%;
  width: 0;
}

.noUi-horizontal .noUi-origin {
  height: 0;
}

.noUi-handle {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
}

.noUi-touch-area {
  height: 100%;
  width: 100%;
}

.noUi-state-tap .noUi-connect,
.noUi-state-tap .noUi-origin {
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.noUi-state-drag * {
  cursor: inherit !important;
}

/* Slider size and handle placement;
 */

.noUi-horizontal {
  height: 1.25rem;
}

.noUi-horizontal .noUi-handle {
  width: 1.75rem;
  height: 1.75rem;
  right: -12px;
  top: -5px;
}

.noUi-vertical {
  width: 18px;
}

.noUi-vertical .noUi-handle {
  width: 28px;
  height: 34px;
  right: -6px;
  bottom: -17px;
}

.noUi-txt-dir-rtl.noUi-horizontal .noUi-handle {
  left: -17px;
  right: auto;
}

/* Styling;
 * Giving the connect element a border radius causes issues with using transform: scale
 */

.noUi-connect {
  background: #2b2b2c;
}

/* Handles and cursors;
 */

.noUi-draggable {
  cursor: ew-resize;
}

.noUi-vertical .noUi-draggable {
  cursor: ns-resize;
}

.noUi-handle {
  border-radius: 50%;
  background: #0d0d0e;
  cursor: pointer;
  width: 1.75rem;
  height: 1.75rem;
  border: 0.125rem solid #fff;
  -webkit-box-shadow: 0 0 1rem 0 rgba(13, 13, 14, 0.75);
  box-shadow: 0 0 1rem 0 rgba(13, 13, 14, 0.75);
}

/* Disabled state;
 */

[disabled] .noUi-connect {
  background: #b8b8b8;
}

[disabled].noUi-target,
[disabled].noUi-handle,
[disabled] .noUi-handle {
  cursor: not-allowed;
}

/* Base;
 *
 */

.noUi-pips,
.noUi-pips * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.noUi-pips {
  position: absolute;
  color: #999;
}

/* Values;
 *
 */

.noUi-value {
  position: absolute;
  white-space: nowrap;
  text-align: center;
}

.noUi-value-sub {
  color: #ccc;
  font-size: 10px;
}

/* Markings;
 *
 */

.noUi-marker {
  position: absolute;
  background: #ccc;
}

.noUi-marker-sub {
  background: #aaa;
}

.noUi-marker-large {
  background: #aaa;
}

/* Horizontal layout;
 *
 */

.noUi-pips-horizontal {
  padding: 10px 0;
  height: 80px;
  top: 100%;
  left: 0;
  width: 100%;
}

.noUi-value-horizontal {
  -webkit-transform: translate(-50%, 50%);
  -ms-transform: translate(-50%, 50%);
  transform: translate(-50%, 50%);
}

.noUi-rtl .noUi-value-horizontal {
  -webkit-transform: translate(50%, 50%);
  -ms-transform: translate(50%, 50%);
  transform: translate(50%, 50%);
}

.noUi-marker-horizontal.noUi-marker {
  margin-left: -1px;
  width: 2px;
  height: 5px;
}

.noUi-marker-horizontal.noUi-marker-sub {
  height: 10px;
}

.noUi-marker-horizontal.noUi-marker-large {
  height: 15px;
}

/* Vertical layout;
 *
 */

.noUi-pips-vertical {
  padding: 0 10px;
  height: 100%;
  top: 0;
  left: 100%;
}

.noUi-value-vertical {
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding-left: 25px;
}

.noUi-rtl .noUi-value-vertical {
  -webkit-transform: translate(0, 50%);
  -ms-transform: translate(0, 50%);
  transform: translate(0, 50%);
}

.noUi-marker-vertical.noUi-marker {
  width: 5px;
  height: 2px;
  margin-top: -1px;
}

.noUi-marker-vertical.noUi-marker-sub {
  width: 10px;
}

.noUi-marker-vertical.noUi-marker-large {
  width: 15px;
}

.noUi-tooltip {
  display: block;
  position: absolute;
  border: 1px solid #d9d9d9;
  background: #fff;
  color: #000;
  padding: 5px;
  text-align: center;
  white-space: nowrap;
}

.noUi-horizontal .noUi-tooltip {
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  left: 50%;
  bottom: 120%;
}

.noUi-vertical .noUi-tooltip {
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  top: 50%;
  right: 120%;
}

.noUi-horizontal .noUi-origin > .noUi-tooltip {
  -webkit-transform: translate(50%, 0);
  -ms-transform: translate(50%, 0);
  transform: translate(50%, 0);
  left: auto;
  bottom: 10px;
}

.noUi-vertical .noUi-origin > .noUi-tooltip {
  -webkit-transform: translate(0, -18px);
  -ms-transform: translate(0, -18px);
  transform: translate(0, -18px);
  top: auto;
  right: 28px;
}

@media (min-width: 47.99875em) {
  .hero__image {
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

@supports (width: clamp( 18.75rem , -26.25rem  +  93.75vw , 46.875rem )) {
    .hero__image img {
      width: clamp( 18.75rem , -26.25rem  +  93.75vw , 46.875rem );
    }
}

@supports not (width: clamp( 18.75rem , -26.25rem  +  93.75vw , 46.875rem )) {
    .hero__image img {
      width: calc(18.75rem + 28.125 * (100vw - 48rem) / 30);
    }
}
}

@media (max-width: 78em) {
  .earn__block {
    padding: 3.75rem 3.125rem;
  }

  .earn__content {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 22.5rem;
    flex: 0 0 22.5rem;
  }
}

@media (max-width: 61.99875em) {
  .earn__block {
    padding: 3.75rem 2.5rem;
  }

  .earn__content {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20rem;
    flex: 0 0 20rem;
  }
}

@media (max-width: 47.99875em) {
  .header__logo img {
    width: 8.4375rem;
  }

  .header__button {
    font-size: 0.9375rem;
    padding: 0.5rem 0.875rem;
  }

  .hero {
    padding-top: 5rem;
    padding-bottom: 4.375rem;
  }

  .hero__image {
    margin-bottom: 2.5rem;
  }

  .hero__star {
    margin-top: 0.5rem;
    margin-left: 0.125rem;
    margin-right: 0.125rem;
  }

  .hero__title_mobile {
    display: block;
  }

  .hero__title_pc {
    display: none;
  }

  .hero__title {
    margin-bottom: 1rem;
  }

  .ready {
    padding-top: 1.875rem;
    padding-bottom: 6.25rem;
  }

  .ready__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    gap: 0.625rem;
  }

  .ready__content {
    max-width: 100%;
    text-align: center;
  }

  .ready__title {
    margin-bottom: 0.75rem;
  }

  .ready__text {
    max-width: 16.875rem;
    margin: 0 auto;
  }

  .ready__image::after {
    width: 15rem;
    height: 15rem;
    -webkit-filter: blur(12.5rem);
    filter: blur(12.5rem);
  }

  .ready__image img {
    max-width: 18.75rem;
  }

  .earn {
    padding-top: 2.5rem;
  }

  .earn__block {
    padding: 3.75rem 1.25rem;
    margin: 0 -0.625rem;
    border-radius: 2.25rem;
    -webkit-backdrop-filter: blur(9.375rem);
    backdrop-filter: blur(9.375rem);
  }

  .earn__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .earn__content {
    max-width: 100%;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;
  }

  .earn__item:not(:last-child) {
    margin-bottom: 2.5rem;
  }

  .earn__top {
    margin-bottom: 1.25rem;
  }

  .earn__column {
    text-align: center;
  }

  .earn__wrap:not(:last-child) {
    margin-bottom: 0.625rem;
  }

  .app {
    padding-top: 7.5rem;
  }

  .app__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
    gap: 3.125rem;
  }

  .app__content {
    padding-top: 0;
  }

  .app__title {
    margin-bottom: 0.75rem;
  }

  .app__text {
    margin-bottom: 1.875rem;
  }

  .app__image::before {
    width: 14.375rem;
    height: 14.375rem;
  }

  .app__image {
    margin: 0 -2.5rem;
  }

  .footer {
    padding-top: 3.125rem;
  }

  .footer__social {
    margin-bottom: 1.5rem;
    gap: 1.5rem;
  }

  .noUi-horizontal {
    height: 1.125rem;
  }
}

@media (any-hover: hover) {
  .header__button:hover {
    background-size: 300% 100%;
  }

  .hero__icon:hover::after {
    background-size: 100% 150%;
  }

  .app__link:hover {
    background-size: 300% 100%;
  }

  .footer__item:hover {
    background-size: 300% 100%;
  }
}